<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503000124568-pd8rt3no6b4004b43965d28n3pcj5rgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503000124568-pd8rt3no6b4004b43965d28n3pcj5rgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDLJB7l4OLc4gqe_kd_OZrmCpG2V7M5dwk</string>
	<key>GCM_SENDER_ID</key>
	<string>503000124568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifecoachApp</string>
	<key>PROJECT_ID</key>
	<string>life-coach-application</string>
	<key>STORAGE_BUCKET</key>
	<string>life-coach-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503000124568:ios:0b803772c0815d089c14ed</string>
</dict>
</plist>